<div id= "everything"><center>
    <div id="jaemok">신이 나를 만들었을 때!!!</div>
    
</br>

<div class="container">
    <div class="row">
    
    <div id="randompicka" class="col-md-4">
        <%= @randompick1 %><br/>
        <%= image_tag @randompick1_image, :class => "rp1_image" %>
    </div>
    <div id="randompickb" class="col-md-4">
        <%= @randompick2 %><br/>
        <%= image_tag @randompick2_image, :class => "rp2_image" %>
    </div>
     <div id="randompickc" class="col-md-4">
        <%= @randompick3 %><br/>
        <%= image_tag @randompick3_image, :class => "rp3_image" %>
    </div>

</div>
</div>
<div class="againbtn">
<a href='/'><button type="button" class="btn btn-success">아니야 다시 해볼래...</button></a>
</div>
</center>
</div>
    